/* filter bar */
.filterBar a.active h8 {
    padding-bottom: 20px;
    border-bottom: 3px solid black;
}
.filterBar a.active img{
    opacity: 100%;
}
.filterIcon{
    width: 50px;
    margin-bottom: 5px;
    opacity: 30%;
}
.filterItem{
    text-align: center;
}
.filterItem a{
    color:black;
    text-decoration: none;
    font-size: 75%;
}

/* events */
.event{
    /* margin:30px; */
    width:300px;
    height:400px;
    align-items: left;
}
.eventImage{
    border-radius: 20px;
    width:300px;
    height:300px;
    align-items: center;
}

/* cards */
.card-text {
    font-family: 'Montserrat';
    font-weight: normal; 
    font-size: 15px;
}

.card-title {
    font-family: 'Montserrat';
    font-weight: bold; 
    font-size: 15px;
}

.card {
    border:0;
    margin: 20px;
}

.card-img-top {
    border-radius: 25px;
    padding-bottom: 20px;
}

/* like button */
.fa-heart-o {
    color: red;
    cursor: pointer;
}

.fa-heart {
    color: red;
    cursor: pointer;
}

  /* new listing */
.newEvent {
    margin-top: 20px;
}
.newEvent a{
    color:black;
    text-decoration: none;
    display: inline-block;
}

/* pagination */
/* .pagination{
    display: inline-block;
}

.pagination-list {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    gap: 20px;
    justify-content: center;
    font-weight: bold;
}

.pagination-list li a,
.pagination-list li span {
    display: block;
    border-radius: 5px;
    color:black;
    text-decoration: none;
    padding: 8px 16px;
    transition: background-color .3s;
    user-select: none;
}

.pagination-list .previous a,
.pagination-list .next a {
    color: black;
}

.pagination-list .current span {
    background-color: bisque;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
} */
.current {
    color: green;
  }
  
  #pagin li {
    display: inline-block;
  }