<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Events Page</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Awesome Font -->
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Axios -->
    <script src="https://unpkg.com/axios/dist/axios.js"></script>

    <!-- Vue.js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <!-- heart button -->
    <link rel="stylesheet" type="text/css" href="https://demo.plantpot.works/assets/css/normalize.css">
    <link rel="stylesheet" href="https://use.typekit.net/opg3wle.css">

    <!-- style sheet -->
    <link rel="stylesheet" href="../newFormat.css">
    <link rel="stylesheet" href="newEventHome.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat' >

    <title>
        Pet Baguette
    </title>
</head>

<!-- maybe make a icon to show those that alr show interest -->

<body onload="loadDisplay()">

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-app.js"></script> 
    <!-- This is the API from Firebase Realtime Database -->
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-database.js"></script> 
    <!-- API for Firebase Storage -->
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-storage.js"></script> 
    <!-- API for Firebase Authentication-->
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-auth.js"></script>

    <!-- nav bar -->

    <nav class="navbar sticky-top navbar-light">

            <!-- Website Name -->
            <a class="navbar-brand "  href="../homepage/newHomepage.html">
                    <div class="row" style="margin:0;">
                        <div class="col">
                            <iframe src="https://embed.lottiefiles.com/animation/43901" style="height: 50px; width: 50px;"></iframe>
                        </div>
                        <div class="col my-auto">
                            <h8>PET BAGUETTE</h8>
                        </div>

                    </div>
                </div>
            </a>

            <!-- Menu Icon -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <!-- NavBar Items -->
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav" id="navbar">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="../homepage/newHomepage.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../adoptionHome/newAdoptionHome.html">Adoptions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="../eventHome/newEventHome.html">Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="login" href="3">Log In</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Modal -->
    <div class="modal fade" id="logout" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="LogoutTitle">Logout?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you wish to logout?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn button" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn button" onclick="logout()">Log Out</button>
                </div>
            </div>
        </div>
    </div>
    
    <hr>

    <div id="container">
        <!-- filter bar -->
        <!-- problem: selected dont apply to others -->
        <!-- put nav bar stuff in? -->
        <div class="filterBar">
            <div class="row">
                <div class="col">
                    <div class="filterItem">
                        <a v-bind:class="{ active: emergencyFilter }" id="Emergency" v-on:click="filter(emergency)" href="#">
                            <img class="filterIcon" src="filterIcons/siren.png"><br>
                            <h8>Emergency</h8>
                        </a>
                    </div>
                </div>

                <div class="col">
                    <div class="filterItem">
                        <a v-bind:class="{ active: driveFilter }" id="Adoption Drive" v-on:click="filter(drive)" href="#">
                            <img class="filterIcon" src="filterIcons/house.png"><br>
                            <h8>Drives</h8>
                        </a>
                    </div>
                </div>

                <div class="col">
                    <div class="col filterItem">
                        <a v-bind:class="{ active: fundFilter }" id="Fundraising" v-on:click="filter(fund)" href="#">
                            <img class="filterIcon" src="filterIcons/donate.png"><br>
                            <h8>Fundraising</h8>
                        </a>
                    </div>
                </div>

                <div class="col">
                    <div class="col filterItem">
                        <a v-bind:class="{ active: volunteerFilter }" id="Volunteering" v-on:click="filter(volunteer)" href="#">
                            <img class="filterIcon" src="filterIcons/volunteer.png"><br>
                            <h8>Volunteering</h8>
                        </a>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">

            <!-- new adoption listing -->
            <div style="margin-bottom:15px;margin-left:25px;">
                <button class="btn button newEvent"><a href="../forms/eventForms.html">New Event Listing</a></button>
            </div> 
        </div>

        <!-- events -->
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12" v-if="filtered != 'not found'" v-for="instance of filtered">
                <div class="card">
                    <a v-bind:href="url(instance.username,instance.eventname)" style="text-decoration:none;color:black">
                        <img v-bind:src="instance.pics[0]" class="card-img-top">
                    </a>
                    <div class="card-body p-0">
                        <div class="row m-0 p-0">
                            <div class="col m-0 p-0">
                                <h8 class="card-title" >{{instance.eventname}}</h8>
                            </div>
                            <div class="col m-0 p-0 px-3" style="text-align:right;">
                                <!-- like button -->
                                <span class = "heart" :id="addcounter()"><i class="fa fa-heart-o" aria-hidden="true" ></i> </span>
                            </div>
                        </div>
                        <p class="card-text" >{{instance.location}}<br>{{instance.time}}</p>
                    </div>
                </div>
            </div>
            <h1 v-else style="text-align:center">Not Found</h1>

            <div class="col-lg-3 col-md-6 col-sm-12">
                <a>
                    <div class="card">
                        <img src="images/event2.jpg" class="card-img-top">
                        <div class="card-body p-0">
                            <div class="row m-0 p-0">
                                <div class="col m-0 p-0">
                                    <h8 class="card-title" >Event Name</h8>
                                </div>
                                <div class="col m-0 p-0 px-3" style="text-align:right;">
                                    <!-- like button -->
                                    <span class = "heart"><i class="fa fa-heart-o" aria-hidden="true" ></i> </span>
                                </div>
                            </div>
                            <p class="card-text" >Location<br>Date,Time</p>

                        </div>
                    </div>
                </a>
            </div>

        <!-- bottom info -->
        <hr>
        <div class="bottomInfo">
            <div class="row">

                <!-- social media -->
                <div class="col social">
                    <p>CONTACT US</p>
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x icon-background"></i>
                        <i class="fa fa-facebook-f fa-stack-1x"></i>
                    </span>   
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x icon-background"></i>
                        <i class="fa fa-instagram fa-stack-1x"></i>
                    </span>   
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x icon-background"></i>
                        <i class="fa fa-envelope fa-stack-1x"></i>
                    </span>
                </div>

                <!-- Subscribe Newsletter -->
                <!-- make the form look less weird on com big screen? -->
                <div class="col">
                    <p>SUBSCRIBE TO OUR NEWSLETTER</p>
                    <form>
                        <input type="text" placeholder="Email Address"><br>
                        <a href="" class="btn button" style="margin-top:15px;">SUBMIT</a>
                    </form>
                </div>
            </div>
            
            <!-- copyright -->
            <div class="row copyright">
                <h8>&copy; 2022 PET BAGUETTE</h8>
            </div>
        </div>
    </div>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.2.min.js"></script>
    <!-- Javascript functions -->
    <script src="newEventHome.js"></script>


</body>
</html>
