    /* bryan's stuff */

    /* The grid: Four equal columns that floats next to each other */
    #opics {
        float: left;
        width: 7%;
        margin-top: 10px;
    }

    /* Style the images inside the grid */
    #opics img {
    opacity: 0.8;
    cursor: pointer;
    max-width: 100%;
    }

    #opics img:hover {
    opacity: 1;
    }

    /* Clear floats after the columns */
    .row:after {
    content: "";
    display: table;
    clear: both;
    }

    /* The expanding image container (positioning is needed to position the close button and the text) */
    .container {
    position: relative;
    width: 100%;
    }

    #opics img{
    max-width: 100%;
    }

    #expandedImg {
        border-radius: 35px;
    }

    #petname {
        height: 50px;
        margin: auto;
        background-color: lightgrey;
        text-align: center;
        border-radius: 10px;
    }

    #petdesc {
        height: 100px;
        margin: auto;
        background-color: lightgrey;
        text-align: center;
        border-radius: 10px;

    }
    #pethealth {
        height: 100px;
        margin: auto;
        background-color: lightgrey;
        text-align: center;
        border-radius: 10px;

    }

    #PetPageButtons {
        text-align: end;
    }