<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Awesome Font -->
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Vue.js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- Axios -->
    <script src="https://unpkg.com/axios/dist/axios.js"></script>

    <!-- style sheet -->
    <link rel="stylesheet" href="format.css">
    <link rel="stylesheet" href="Adopt_page.css">

    <title>Event Information</title>

    <script>
        function myFunction(imgs) {
            // Get the expanded image
            var expandImg = document.getElementById("expandedImg");
            // Get the image text
            var imgText = document.getElementById("imgtext");
            // Use the same src in the expanded image as the image being clicked on from the grid
            expandImg.src = imgs.src;
            // Use the value of the alt attribute of the clickable image as text inside the expanded image
            imgText.innerHTML = imgs.alt;
            // Show the container element (hidden with CSS)
            expandImg.parentElement.style.display = "block";
        }
    </script>
</head>
<body onload="loadDisplay()">

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-app.js"></script> 
    <!-- This is the API from Firebase Realtime Database -->
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-database.js"></script> 
    <!-- API for Firebase Storage -->
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-storage.js"></script> 
    <!-- API for Firebase Authentication-->
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-auth.js"></script>

    <!-- nav bar -->
    
    <nav class="navbar sticky-top navbar-light">
        <div class="container-fluid">

            <!-- Website Name -->
            <a class="navbar-brand"  href="#"><i class='fas'>&#xf1b0;</i>  PET BAGUETTE</a>

            <!-- Menu Icon -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <!-- NavBar Items -->
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav" id="navbar">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                       <a class="nav-link active disabled" href="Adoption_page.html">Adoptions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="eventHome.html">Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="login" href="#"></a>
                    </li>
                </ul>
            </div>

            

        </div>
    </nav>

    <!-- Modal -->
    <div class="modal fade" id="logout" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
       <div class="modal-dialog">
           <div class="modal-content">
               <div class="modal-header">
                   <h5 class="modal-title" id="LogoutTitle">Logout?</h5>
                   <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
               </div>
               <div class="modal-body">
                   Are you sure you wish to logout?
               </div>
               <div class="modal-footer">
                   <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                   <button type="button" class="btn btn-primary" onclick="logout()">Log Out</button>
               </div>
           </div>
       </div>
   </div>


    <!--Pet Picture-->
    <!-- The expanding image container -->
    <div class="container" id="content" style="margin-top:100px; margin-left: 100px;">
        <div class="row" >
            <div class="col-4">
                <!-- Expanded image -->
                <img v-bind:src="pet.image" id="expandedImg" style="width:100%" >
            </div>

            <div class="col-2"></div>

            <div class="col-5">
                <!--Name of Pet-->
                Name:<div class="container" id="petname">{{pet.animalname}}</div>

                <!--Pet Description-->
                Description:<div class="container" id="petdesc">{{pet.description}}</div>&nbsp

                <!--Pet Health Needs-->
                Special Health Needs: <div class="container" id="pethealth" v-if="pet.health != ''">{{pet.health}}</div>
                <div class="container" id="pethealth" v-else>No Issues!</div>&nbsp

                <!--div for HDB Status and Vax Status-->
                <div class="input-group mb-3" style="background-color: lightgrey; border-radius: 10px">
                    <div class="input-group-text" style="background-color: lightgrey;">
                        <!--Vax Status, checked and disabled-->
                        Vaccination Status:
                        <input  class="form-check-input mt-0" id="vaccination" type="checkbox" value="" v-bind:checked="vaccination" aria-label="Checkbox for following text input" disabled>

                        &nbsp&nbsp

                        <!--HDB Status, checked and disabled-->
                        HDB Eligibility:
                        <input class="form-check-input mt-0" id="hdb" type="checkbox" value="" v-bind:checked="hdb" aria-label="Checkbox for following text input" disabled>
                    </div>
                </div>
                <!--Buttons-->
                <div id="PetPageButtons">
                    <!--Adopt Button-->
                    <a id="AdoptButton" role="button" class="btn btn-secondary" href="#">Adopt Me!</a>
                    <!--User Button-->
                    <a id="UserButton" role="button" class="btn btn-secondary" href="#">User Profile</a>
                </div>
                
            <div class="col-1"></div>
        </div>
        <!-- The grid: four columns -->
        <div class="row">
            <div class="col-1" id="opics" v-for="pet of pet.image">
                <img v-bind:src="pet" onclick="myFunction(this);">
            </div>
        </div>
    </div>

    <!-- bottom info -->
    <div class="bottomInfo">
        <div class="row">

            <!-- social media -->
            <div class="col social">
                <p>CONTACT US</p>
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x icon-background"></i>
                    <i class="fa fa-facebook-f fa-stack-1x"></i>
                </span>   
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x icon-background"></i>
                    <i class="fa fa-instagram fa-stack-1x"></i>
                </span>   
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x icon-background"></i>
                    <i class="fa fa-envelope fa-stack-1x"></i>
                </span>
            </div>

            <!-- Subscribe Newsletter -->
            <div class="col">
                <p>SUBSCRIBE TO OUR NEWSLETTER</p>
                <h8>Join our mailing to receive news about PET BAGUETTE!</h8>
                <form>
                    <input type="text" placeholder="Email Address">
                    <button class="submitEmail">Subscribe</button>
                </form>
            </div>
        </div>
        
    <!-- copyright -->
    <div class="row copyright">
        <h8>&copy; 2022 PET BAGUETTE</h8>
    </div>

    </div>

    <!-- Javascript functions -->
    <script src="adoptpage.js"></script>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>