/* eventHome.html */
.topEvent{
    height:300px;
}

.card{
    padding:20px;
}

.card img{
    border-radius: 10px;
}

.card-title{
    margin:20px 0;
}
.eventInfo{
    background-color:rgb(251, 251, 173);
    border:1px solid goldenrod;
    border-radius: 10px;
    text-align: middle;
    vertical-align: middle;
    padding: 10px;
    font-weight: bold;
}


/* eventInfo.html */
h4{
    padding:10px 0px;
}

/* The grid: Four equal columns that floats next to each other */
#opics {
    float: left;
    margin-top: 10px;
}

/* Style the images inside the grid */
#opics img {
    opacity: 0.8;
    cursor: pointer;
}

#opics img:hover {
    opacity: 1;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* The expanding image container (positioning is needed to position the close button and the text) */
#opics img{
    max-width: 100%;
}

#expandedImg {
    border-radius: 35px;
}

/* button */
.eventLink{
    background-color: #fff0f0;
    border:1px solid #b18597;
    border-radius: 10px;
    text-align: middle;
    vertical-align: middle;
    padding: 10px;
    font-weight: bold;
    margin-top: 60px;
}