<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Vue.js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Login</title>

    <style>
        body {
            padding: 0px 30px
        }
    </style>
</head>
<body>
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-app.js"></script> 
<!-- This is the API from Firebase Realtime Database -->
<script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-database.js"></script> 
<!-- API for Firebase Storage -->
<script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-storage.js"></script> 
<!-- API for Firebase Authentication-->
<script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-auth.js"></script>

<div class="row justify-content-center">
    <a class="navbar-brand"  href="#"><i class='fa'>&#xf1b0;</i>  PET BAGUETTE</a>
</div>

<div class="row justify-content-center">
    <h1>Log In</h1>
</div>

<div class="row justify-content-center" id="content">
    <div class="col-10 col-sm-8 col-md-6 col-lg-4">
        <div class="input-group input-group-lg mb-3">
            <span class="input-group-text" id="inputGroup-sizing-lg">Email</span>
            <input type="text" id="email" v-model="email" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
        </div>
        <span id="emailError" v-if="emailError != ''">{{emailError}}</span>
        
        <div class="input-group input-group-lg mb-3">
            <span class="input-group-text" id="inputGroup-sizing-lg">Password</span>
            <input type="password" id="password" v-model="password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
        </div>
        <span id="passwordError" v-if="passwordError != ''">{{passwordError}}</span>

        <button class="btn btn-dark" v-on:click="login()" v-bind:disabled="inputCheck()">Submit</button>
        <button class="btn btn-dark" v-on:click="signup()">Sign Up</button>
        <button class="btn btn-dark" v-on:click="back()">Back</button>
    </div> 
</div>

    <!-- Javascript functions -->
    <script src="login.js"></script>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>