<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Vue.js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Login</title>

    <link rel="stylesheet" href="loginpage.css">

    <style>
        body {
            padding: 0px 30px;
        }
    </style>
</head>
<body>
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-app.js"></script> 
<!-- This is the API from Firebase Realtime Database -->
<script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-database.js"></script> 
<!-- API for Firebase Storage -->
<script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-storage.js"></script> 
<!-- API for Firebase Authentication-->
<script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-auth.js"></script>

<div class="row justify-content-center">
    <a class="navbar-brand"  href="#"><i class='fa'>&#xf1b0;</i>  PET BAGUETTE</a>
</div>
<hr>
<div class="row justify-content-center" id="content" style="background-image: url('logingbg2.jpg'); height: 90vh; width: 100%; background-size:cover; ">
    <div class="col-sm-8 col-md-6 col-lg-4 main" style="margin-top: 15%;">
        <div style="text-align: center; margin-top: 40px;"><span class="sign">Sign in</span></div>
        <div class="input-group input-group-lg mb-3" style="text-align: center;">
            <input type="text" id="email" v-model="email" class="un" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" placeholder="Email">
        </div>
        <span id="emailError" v-if="emailError != ''">{{emailError}}</span>
        
        <div class="input-group input-group-lg mb-3">
            <input type="password" id="password" v-model="password" class="pass" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" placeholder="Password">
        </div>
        <span id="passwordError" v-if="passwordError != ''">{{passwordError}}</span>

        <div style="text-align: center;">
            <button class="btn btn-dark submit" v-on:click="login()" v-bind:disabled="inputCheck()">Sign In</button>
        </div>

        <div style="position: relative;">
            <button class="btn btn-dark signup" v-on:click="signup()">Sign Up</button>
            <button class="btn btn-dark back" v-on:click="back()">Back</button>
        </div>

    </div> 
</div>

    <!-- Javascript functions -->
    <script src="login.js"></script>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
