#ProfilePhoto {
    border-radius: 50%;
    width: 400px;
    height: 400px;
}

#username_ppage {
    height: 50px;
    margin: auto;
    background-color: lightgrey;
    text-align: center;
    border-radius: 10px;
}

#email_ppage {
    height: 50px;
    margin: auto;
    background-color: lightgrey;
    text-align: center;
    border-radius: 10px;
}

#bio_ppage {
    height: 150px;
    margin: auto;
    background-color: lightgrey;
    text-align: center;
    border-radius: 10px;
}

#phone_ppage {
    height: 50px;
    margin: auto;
    background-color: lightgrey;
    text-align: center;
    border-radius: 10px;
}