.box{
    padding:20px;
    margin:0;
}
.profile{
    background-color:bisque;
    border-radius:15px;
    padding:30px;
}
.profilePic{
    border-radius:50%;
    width:200px;
    margin:auto;
}
.name{
    text-align:center; 
    font-size:25px;
}
.details{
    border:0;
}
.details td{
    padding:10px;
}

/* posts */
.card-text {
    font-family: 'Montserrat';
    font-weight: normal; 
    font-size: 15px;
}

.card-title {
    font-family: 'Montserrat';
    font-weight: bold; 
    font-size: 15px;
}

.card {
    border:0;
    margin: 20px;
}

.card-img-top {
    border-radius: 25px;
    padding-bottom: 20px;
}
