<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Awesome Font -->
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Axios -->
    <script src="https://unpkg.com/axios/dist/axios.js"></script>

    <!-- Vue.js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- style sheet -->
    <link rel="stylesheet" href="../newFormat.css">
    <link rel="stylesheet" href="newProfile.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat' >

    <title>
        Pet Baguette
    </title>
</head>

<body onload="loadDisplay()">

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-app.js"></script> 
    <!-- This is the API from Firebase Realtime Database -->
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-database.js"></script> 
    <!-- API for Firebase Storage -->
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-storage.js"></script> 
    <!-- API for Firebase Authentication-->
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-auth.js"></script>
    <!-- nav bar -->

    <nav class="navbar sticky-top navbar-light">

        <!-- Website Name -->
        <a class="navbar-brand "  href="../homepage/newHomepage.html">
                <div class="row" style="margin:0;">
                    <div class="col">
                        <iframe src="https://embed.lottiefiles.com/animation/43901" style="height: 50px; width: 50px;"></iframe>
                    </div>
                    <div class="col my-auto">
                        <h8>PET BAGUETTE</h8>
                    </div>

                </div>
            </div>
        </a>

        <!-- Menu Icon -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <!-- NavBar Items -->
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav" id="navbar">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="../homepage/newHomepage.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../adoptionHome/newAdoptionHome.html">Adoptions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../eventHome/newEventHome.html">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="login" href="3">Log In</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="logout" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="LogoutTitle">Logout?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you wish to logout?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn button" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn button" onclick="logout()">Log Out</button>
            </div>
        </div>
    </div>
</div>
    <hr>

    <!-- content -->

    <div class="container" id="content">

        <div class="row">
        
            <div class="col-lg-6 col-xl-6">
                <div class="profile" style="height:95%;margin-bottom:5%;">
                    <!-- profile pic -->
                    <div class="row" style="align-items:center;">
                        <img class="profilePic" :src="pic" style="width: 30%;border-radius:50%">
                    </div>

                    <!-- name -->
                    <div class="row" >
                        <p style="font-size:25px;text-align: center;">{{name}}</p>
                    </div>

                    <!-- details -->
                    <div class="row" style="justify-content:center;">
                        <table class="details" style="width:80%;">
                            <tr>
                                <td><i class="fa fa-user"></i>&ensp;</td>
                                <td>{{username}}</td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-envelope"></i>&ensp;</td>
                                <td>{{email}}</td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-map-marker"></i>&ensp;</td>
                                <td>{{region}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <!-- bio and favourite pets -->
            <div class="col-lg-6 col-xl-6">
                <div class="profile" style="height:45%;margin-bottom:0;">
                    <p style="font-size:25px;text-align: center;">Bio</p>
                    <div style="text-align: center;">
                        <p id="bio_description">{{bio}}</p>
                    </div>
                </div>

                <div class="profile" style="height:5%;background-color:transparent;padding:0;margin:0;"></div>

                <div class="profile" style="height:45%;margin-top:0;">
                    <p style="font-size:25px;text-align: center;">Favourite Pet(s)</p>
                    <div style="text-align: center;">
                        <p id="favpets_description">{{pets}}</p>
                    </div>
                </div>
            </div>

        </div>

        <!-- edit button -->
        <div class="row">
            <div style="text-align: center; padding-bottom:20px;margin-top:15px;">
                <a v-bind:href="url()" class="btn button">EDIT PROFILE</a>
            </div>
        </div>

        <!-- posts -->
        <div class="row">
            <p style="font-size:25px;text-align: center;">Posts</p>

            <div class="row">

                <div class="col-lg-3 col-md-6 col-sm-12" v-for="key in posts">
                    <a v-bind:href="eventurl(key.eventname)">
                        <div class="card">
                            <img :src="key.pics[0]" class="card-img-top">
                            <div class="card-body p-0">
                                <h8 class="card-title" >{{key.eventname}}</h8>
                                <p class="card-text" >{{key.location}}<br>{{key.eventdate}},{{key.time}}</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="text-center" v-if="posts.length == 0"><span>No Posts Made, Make a Post Now!</span></div>

                <!-- shortcut event button -->
                <div style="text-align: center; padding-bottom:20px;margin-top:15px;">
                    <a href="../forms/eventForms.html" class="btn button">ADD EVENT LISTING</a>
                </div>

                <!-- <div class="col-lg-3 col-md-6 col-sm-12">
                    <a>
                        <div class="card">
                            <img src="images/event2.jpg" class="card-img-top">
                            <div class="card-body p-0">
                                <div class="row p-0 m-0">
                                    <div class="col m-0 p-0">
                                        <h8 class="card-title" >Event Name</h8>
                                    </div>
                                    <div class="col m-0 p-0 px-3" style="text-align:right;">
                                        <span><i class=" fas fa-regular fa-trash"></i></span>
                                    </div>
                                </div>
                                <p class="card-text" >Location<br>Date,Time</p>
                            </div>
                        </div>
                    </a>
                </div>
                
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <a>
                        <div class="card">
                            <img src="images/event1.png" class="card-img-top">
                            <div class="card-body p-0">
                                <h8 class="card-title" >Event Name</h8>
                                <p class="card-text" >Location<br>Date,Time</p>
                            </div>
                        </div>
                    </a>
                </div>
        
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <a>
                        <div class="card">
                            <img src="images/event2.jpg" class="card-img-top">
                            <div class="card-body p-0">
                                <h8 class="card-title" >Event Name</h8>
                                <p class="card-text" >Location<br>Date,Time</p>
                            </div>
                        </div>
                    </a>
                </div>

            </div> -->
        </div>

        <!-- liked posts -->
        <div class="row">
            <p style="font-size:25px;text-align: center;">Liked Posts</p>

            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <a>
                        <div class="card">
                            <img src="images/event1.png" class="card-img-top">
                            <div class="card-body p-0">
                                <h8 class="card-title" >Event Name</h8>
                                <p class="card-text" >Location<br>Date,Time</p>
                            </div>
                        </div>
                    </a>
                </div>
        
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <a>
                        <div class="card">
                            <img src="images/event2.jpg" class="card-img-top">
                            <div class="card-body p-0">
                                <h8 class="card-title" >Event Name</h8>
                                <p class="card-text" >Location<br>Date,Time</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12">
                    <a>
                        <div class="card">
                            <img src="images/event1.png" class="card-img-top">
                            <div class="card-body p-0">
                                <h8 class="card-title" >Event Name</h8>
                                <p class="card-text" >Location<br>Date,Time</p>
                            </div>
                        </div>
                    </a>
                </div>
        
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <a>
                        <div class="card">
                            <img src="images/event2.jpg" class="card-img-top">
                            <div class="card-body p-0">
                                <h8 class="card-title" >Event Name</h8>
                                <p class="card-text" >Location<br>Date,Time</p>
                            </div>
                        </div>
                    </a>
                </div>

            </div>
        </div>


    <!-- bottom info -->
    <hr>
        <div class="bottomInfo">
            <div class="row">

                <!-- social media -->
                <div class="col social">
                    <p>CONTACT US</p>
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x icon-background"></i>
                        <i class="fa fa-facebook-f fa-stack-1x"></i>
                    </span>   
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x icon-background"></i>
                        <i class="fa fa-instagram fa-stack-1x"></i>
                    </span>   
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x icon-background"></i>
                        <i class="fa fa-envelope fa-stack-1x"></i>
                    </span>
                </div>

                <!-- Subscribe Newsletter -->
                <!-- make the form look less weird on com big screen? -->
                <div class="col">
                    <p>SUBSCRIBE TO OUR NEWSLETTER</p>
                    <form>
                        <input type="text" placeholder="Email Address"><br>
                        <a href="" class="btn button" style="margin-top:15px;">SUBMIT</a>
                    </form>
                </div>
            </div>
            
            <!-- copyright -->
            <div class="row copyright">
                <h8>&copy; 2022 PET BAGUETTE</h8>
            </div>
        </div>
    </div>

    <!-- Javascript functions -->
    <script src="newProfile.js"></script>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.2.min.js"></script>

</body>
</html>
