/* cards */
.card-text {
    font-family: 'Montserrat';
    font-weight: normal; 
    font-size: 15px;
}

.card-title {
    font-family: 'Montserrat';
    font-weight: bold; 
    font-size: 15px;
}

.card {
    border:0;
    margin: 20px;
}

.card-img-top {
    border-radius: 25px;
    padding-bottom: 20px;
    aspect-ratio : 1 / 1;
}
