/* moving dog */
#move {
    animation-duration: 4s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

@keyframes slidein {
    from {
        margin-left: 0%;
        width: 100%;
    }

    to {
        margin-left: 100%;
        width: 300%;
    }
}

/* nav cards */
.card{
    border:0;
    align-items: center;
    padding:0 30px;
}
.card-title{
    font-family: 'Montserrat' !important;
    font-weight:bold;
    font-size: 20px;
}
.card-text{
    font-weight:normal;
}
.homeBtn{
    border:2px solid black;
    font-size: 15px;
}
