*{
    margin:0;
    padding: 0;
}

body{
    /* margin:20px 30px; */
    /* background-color: #99C298; */
}

/* 
#navbar{
    background-color: #006D77;
    font-family: Helvetica;
    font-weight: 700;
} */

.overlay{
     
}

#intro-pic{
    /* margin:20px 30px; */
    /* background-color: #99C298;
    background-size: responsive;
    background-repeat: no-repeat;
    background-image: url(./img/placeholder.jpg);
    height: 70vh;
    max-width: 85%; */
}

.wrapper{
    /* background-color: rgb(128, 128, 128); */
    /* opacity: 0.3; */
}
