<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Awesome Font -->
    <script src="https://kit.fontawesome.com/60ecafaa1c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Axios -->
    <script src="https://unpkg.com/axios/dist/axios.js"></script>

    <!-- Vue.js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- heart button -->
    <link rel="stylesheet" type="text/css" href="https://demo.plantpot.works/assets/css/normalize.css">
    <link rel="stylesheet" href="https://use.typekit.net/opg3wle.css">

    <!-- lottie files -->
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

    <!-- style sheet -->
    <link rel="stylesheet" href="../newFormat.css">
    <link rel="stylesheet" href="forms.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat'>

    <title>Pet Baguette</title>

</head>

<!-- maybe make a icon to show those that alr show interest -->

<body onload="loadDisplay()">
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-app.js"></script>
    <!-- This is the API from Firebase Realtime Database -->
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-database.js"></script>
    <!-- API for Firebase Storage -->
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-storage.js"></script>
    <!-- API for Firebase Authentication-->
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-auth.js"></script>
    <!-- nav bar -->

    <nav class="navbar sticky-top navbar-light navbar-expand-md">

        <!-- Website Name -->
        <a class="navbar-brand" href="../index.html">
            <div class="row" style="margin:0;">
                <div class="col-3">
                    <lottie-player src="https://assets4.lottiefiles.com/packages/lf20_syqnfe7c.json"
                        background="transparent" speed="1" style="width: 50px; height: 50px;" loop autoplay>
                    </lottie-player>
                </div>
                <div class="col-9 my-auto">
                    <h8>PET BAGUETTE</h8>
                </div>

            </div>
            </div>
        </a>

        <!-- Menu Icon -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- NavBar Items -->
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav" id="navbar">
                <li class="nav-item my-auto">
                    <a class="nav-link" aria-current="page" href="../index.html">Home</a>
                </li>
                <li class="nav-item my-auto">
                    <a class="nav-link" href="../adoptionHome/newAdoptionHome.html">Adoptions</a>
                </li>
                <li class="nav-item my-auto">
                    <a class="nav-link" href="../eventHome/newEventHome.html">Events</a>
                </li>
                <li class="nav-item my-auto">
                    <a class="nav-link" id="login" href="3">Log In</a>
                </li>
            </ul>
        </div>
        </div>
    </nav>

    <!-- Modal -->
    <div class="modal fade" id="logout" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="LogoutTitle">Logout?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you wish to logout?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn button" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn button" onclick="logout()">Log Out</button>
                </div>
            </div>
        </div>
    </div>
    <hr>

    <!-- content -->
    <div class="content" id="content">
        <div class="row">
            <h1 class="m-2 p-3 text-center">
                Edit Adoption Listing
            </h1>
        </div>

        <div class="row">
            <!-- animations -->
            <div class="col-12 col-lg-4 px-5 py-1" style="text-align:center;">
                <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_z9ed2jna.json"
                    background="transparent" speed="1" style="width: 100%; height: 100%;" loop autoplay></lottie-player>
            </div>

            <!-- form -->
            <div class="col-12 col-lg-7" style="text-align:center;">
                <!-- Pet name -->
                <div class="row">
                    <div class="col-12 col-md-4 m-0 p-0">
                        Animal Name
                    </div>
                    <div class="col-12 col-md-8 m-0 p-0">
                        {{name}}
                    </div>
                </div>

                <!-- age -->
                <div class="row">
                    <div class="col-12 col-md-4 m-0 p-0">
                        Birthday
                    </div>
                    <div class="col-12 col-md-8 m-0 p-0">
                        <div class="input-field">
                            <input type="date" id="birthday" v-model="birthday" required>
                        </div>
                    </div>
                </div>

                <!-- species -->
                <div class="row">
                    <div class="col-12 col-md-4 m-0 p-0">
                        Animal Species
                    </div>
                    <div class="col-12 col-md-8 m-0 p-0">
                        <div class="input-field">
                            <!-- <input type="text" id="species" placeholder="Enter species (e.g. dog)" v-model="species"> -->
                            <select v-model="species" required>
                                <option disabled selected value>Select an option</option>
                                <option value="dog">Dog</option>
                                <option value="cat">Cat</option>
                                <option value="rabbit">Rabbit</option>
                                <option value="others">Others</option>
                            </select>
                        </div>
                    </div>
                </div>

                <!-- Personality/Temperament -->
                <div class="row">
                    <div class="col-12 col-md-4 m-0 p-0">
                        Animal Personality
                    </div>
                    <div class="col-12 col-md-8 m-0 p-0">
                        <div class="input-field">
                            <select name="personality" id="personality" v-model="personality">
                                <option disabled selected value>Select an option</option>
                                <option value="aggressive">Aggressive</option>
                                <option value="bold">Bold</option>
                                <option value="energetic">Energetic</option>
                                <option value="gentle">Gentle</option>
                                <option value="fearful">Fearful</option>
                                <option value="shy">Shy</option>
                                <option value="playful">Playful</option>
                            </select>
                        </div>
                    </div>
                </div>

                <!-- Short Description/Background -->
                <div class="row">
                    <div class="col-12 col-md-4 m-0 p-0">
                        Animal Description
                    </div>
                    <div class="col-12 col-md-8 m-0 p-0">
                        <div class="input-field">
                            <textarea name="description" id="description" cols="30" rows="4"
                                placeholder="Write something interesting! (Up to 100 characters)" v-model="description"
                                maxlength="150"></textarea>
                        </div>
                    </div>
                </div>

                <!-- HDB Approved -->
                <div class="row">
                    <div class="col-12 col-md-4 m-0 p-0">
                        HDB Eligibility
                    </div>
                    <div class="col-12 col-md-8 m-0 p-0">
                        <div class="input-field">
                            <select id="hdb" v-model="hdbApproved">
                                <option disabled selected value>Select an option</option>
                                <option value="eligible">Eligible</option>
                                <option value="notEligible">Not Eligible</option>
                            </select>
                        </div>
                    </div>
                </div>

                <!-- gender -->
                <div class="row">
                    <div class="col-12 col-md-4 m-0 p-0">
                        Gender
                    </div>
                    <div class="col-12 col-md-8 m-0 p-0">
                        <div class="input-field">
                            <select id="gender" v-model="gender">
                                <option disabled selected value>Select an option</option>
                                <option value="female">Female</option>
                                <option value="male">Male</option>
                            </select>
                        </div>
                    </div>
                </div>

                <!-- Vaccinated -->
                <div class="row">
                    <div class="col-12 col-md-4 m-0 p-0">
                        Vaccination Status
                    </div>
                    <div class="col-12 col-md-8 m-0 p-0">
                        <div class="input-field">
                            <select id="vaccination" v-model="vaccinationStatus" required>
                                <option disabled selected value>Select an option</option>
                                <option value="vaccinated">Vaccinated</option>
                                <option value="notVaccinated">Not Vaccinated</option>
                            </select>
                        </div>
                    </div>
                </div>

                <!-- Health -->
                <div class="row">
                    <div class="col-12 col-md-4 m-0 p-0">
                        Existing Illnesses
                    </div>
                    <div class="col-12 col-md-8 m-0 p-0">
                        <div class="input-field">
                            <select name="health" id="health" v-model="health">
                                <option disabled selected value>Select an option</option>
                                <option value="yes">Yes</option>
                                <option value="no">No</option>
                            </select>
                        </div>
                    </div>
                </div>

                <!--type of illness-->
                <div v-if="health =='yes'" class="row">

                    <div class="col-12 col-md-4 m-0 p-0">

                    </div>
                    <div class="col-12 col-md-8 m-0 p-0">
                        <div class="input-field">
                            <div class="input-field">
                                <input type="text" id="illness" placeholder="Enter existing illness separated by ' , '"
                                    v-model="illness">
                            </div>
                        </div>
                    </div>
                </div>


                <!-- upload image -->
                <div class="row">
                    <div class="col-12 col-md-4 m-0 p-0">
                        Animal Images
                    </div>
                    <div class="col-12 col-md-8 m-0 p-0">
                        <div class="upload">
                            <label for="pic">
                                <p>Upload up to 6 Images </p>
                                <i class="fa fa-2x fa-camera"></i><br><br>
                                <input id="pic" type="file" accept="image/jpeg, image/png, image/jpg, image/jfif"
                                    multiple onchange="preview()">
                                <output id="result"></output>
                            </label>
                        </div>
                    </div>
                </div>

                <!-- contact -->
                <div class="row">
                    <div class="col-12 col-md-4 m-0 p-0">
                        Contact Email
                    </div>
                    <div class="col-12 col-md-8 m-0 p-0">
                        <div class="input-field">
                            <input type="text" id="email" placeholder="Enter your email" v-model="email">
                        </div>
                    </div>
                </div>

                <!-- submit button -->
                <div class="row justify-content-end">
                    <div class="col-12 col-md-8">
                        <button class="btn button " style="width:150px;" @click="validate()">UPDATE</button>
                        <button class="btn button " style="width:150px;" v-on:click="deletepost()">DELETE</button>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-xl-2"></div>
        </div>
    </div>


    <!-- bottom info -->
    <hr>
    <div class="bottomInfo">
        <div class="row">

            <!-- social media -->
            <div class="col social">
                <p>CONTACT US</p>
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x icon-background"></i>
                    <i class="fa fa-facebook-f fa-stack-1x"></i>
                </span>
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x icon-background"></i>
                    <i class="fa fa-instagram fa-stack-1x"></i>
                </span>
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x icon-background"></i>
                    <i class="fa fa-envelope fa-stack-1x"></i>
                </span>
            </div>

            <!-- Subscribe Newsletter -->
            <!-- make the form look less weird on com big screen? -->
            <div class="col text-center">
                <p>SUBSCRIBE TO OUR NEWSLETTER</p>
                <div class="row">
                    <div class="col-sm-12 col-lg-7 mb-3 text-lg-end">
                        <input type="text" placeholder="Email Address"
                            style="height: 38.5px; border-color: darkslategrey;">
                    </div>

                    <div class="col-sm-12 col-lg-5 text-lg-start">
                        <button type="submit" class="btn button">Submit</button>
                    </div>
                </div>

            </div>
        </div>

        <!-- copyright -->
        <div class="row copyright">
            <h8>&copy; 2022 PET BAGUETTE</h8>
        </div>
    </div>

    <!-- Javascript functions -->
    <script src="adoptionEditForm.js"></script>

    <script>
        const input = document.querySelector('#pic');

        // Listen for files selection
        input.addEventListener('change', (e) => {
            // Retrieve all files
            const files = input.files;

            // Check files count
            if (files.length > 6) {
                alert(`Only 6 files are allowed to upload.`);
                return;
            }

            // TODO: continue uploading on server
        });
    </script>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.2.min.js"></script>

</body>

</html>