<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Awesome Font -->
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Axios -->
    <script src="https://unpkg.com/axios/dist/axios.js"></script>

    <!-- heart button -->
    <link rel="stylesheet" type="text/css" href="https://demo.plantpot.works/assets/css/normalize.css">
    <link rel="stylesheet" href="https://use.typekit.net/opg3wle.css">

    <!-- style sheet -->
    <link rel="stylesheet" href="../newFormat.css">
    <link rel="stylesheet" href="forms.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat' >

</head>

<!-- maybe make a icon to show those that alr show interest -->

<body onload="loadDisplay()">
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-app.js"></script> 
    <!-- This is the API from Firebase Realtime Database -->
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-database.js"></script> 
    <!-- API for Firebase Storage -->
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-storage.js"></script> 
    <!-- API for Firebase Authentication-->
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-auth.js"></script>
    <!-- nav bar -->

    <nav class="navbar sticky-top navbar-light">

        <!-- Website Name -->
        <a class="navbar-brand "  href="../homepage/newHomepage.html">
                <div class="row" style="margin:0;">
                    <div class="col">
                        <iframe src="https://embed.lottiefiles.com/animation/43901" style="height: 50px; width: 50px;"></iframe>
                    </div>
                    <div class="col my-auto">
                        <h8>PET BAGUETTE</h8>
                    </div>

                </div>
            </div>
        </a>

        <!-- Menu Icon -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <!-- NavBar Items -->
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav" id="navbar">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="../homepage/newHomepage.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../adoptionHome/newAdoptionHome.html">Adoptions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="../eventHome/newEventHome.html">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="login" href="3">Log In</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="logout" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="LogoutTitle">Logout?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you wish to logout?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="logout()">Log Out</button>
            </div>
        </div>
    </div>
</div>
    <hr>

    <!-- content -->
    <div class="content" id="content">
        <div class="row">
            <h1 class="m-2 p-3 text-center">
                New Event
            </h1>
        </div>

        <div class="row">
            <!-- animations -->
            <div class="col-xs-12 col-sm-12 col-lg-6 col-xl-6" style="text-align:center;">
                <iframe src="https://embed.lottiefiles.com/animation/88146" style="width:100%;height:100%;"></iframe>
            </div>

            <!-- form -->
            <div class="col-xs-12 col-sm-12 col-lg-4 col-xl-4" style="text-align:center">
                <!-- event name -->
                <div class="row">
                    <div class="col m-0 p-0">
                        Event Name
                    </div>
                    <div class="col m-0 p-0">
                        <div class="input-field">
                            <input type="text" id="eventName" placeholder="Enter event name" v-model="eventName">
                        </div>
                    </div>
                </div>

                <!-- event category -->
                <div class="row">
                    <div class="col m-0 p-0">
                        Event Category
                    </div>
                    <div class="col m-0 p-0">
                        <div class="input-field">
                            <select id="category">
                                <option disabled selected value>Select an option</option>
                                <option value="emergency">Emergency</option>
                                <option value="drives">Drives</option>
                                <option value="fundraising">Fundraising</option>
                                <option value="volunteering">Volunteering</option>
                            </select>
                        </div>
                    </div>
                </div>

                <!-- event description -->
                <div class="row">
                    <div class="col m-0 p-0">
                        Event Description
                    </div>
                    <div class="col m-0 p-0">
                        <div class="input-field">
                            <textarea id="description" rows="3" placeholder="Enter event description"
                                v-model="eventDescription"></textarea>
                        </div>
                    </div>
                </div>

                <!-- date -->
                <div class="row">
                    <div class="col m-0 p-0">
                        Event Date
                    </div>
                    <div class="col m-0 p-0">
                        <div class="input-field">
                            <input type="date" id="eventDate" placeholder="Enter event date" v-model="eventDate">
                        </div>
                    </div>
                </div>
                

                <!-- start time -->
                <div class="row">
                    <div class="col m-0 p-0">
                        Event Start Time
                    </div>
                    <div class="col m-0 p-0">
                        <div class="input-field">
                            <input type="time" id="eventStart" v-model="startTime">
                        </div>
                    </div>
                </div>

                <!-- end time -->
                <div class="row">
                    <div class="col m-0 p-0">
                        Event End Time
                    </div>
                    <div class="col m-0 p-0">
                        <div class="input-field">
                            <input type="time" id="eventEnd" v-model="endTime">
                        </div>
                    </div>
                </div>

                <!-- Location -->
                <div class="row">
                    <div class="col m-0 p-0">
                        Event Location
                    </div>
                    <div class="col m-0 p-0">
                        <div class="input-field">
                            <input type="text" id="eventLocation" placeholder="Enter event location" v-model="eventLocation">
                        </div>
                    </div>
                </div>

                <!-- upload image -->
                <div class="row">
                    <div class="col m-0 p-0">
                        Event Images
                    </div>
                    <div class="col m-0 p-0">
                        <div class="upload">
                            <label for="pic">
                                <p>Upload max 6 Images </p>
                                <i class="fa fa-2x fa-camera"></i><br><br>
                                <input id="pic" type="file" accept="image/jpeg, image/png, image/jpg, image/jfif" multiple onchange="preview()">
                                <output id="result"></output>
                            </label>
                        </div>
                    </div>
                </div>

                <!-- url -->
                <div class="row">
                    <div class="col m-0 p-0">
                        Event Website
                    </div>
                    <div class="col m-0 p-0">
                        <div class="input-field">
                            <input type="text" id="eventWebsite" placeholder="Enter event website" v-model="url">
                        </div>
                    </div>
                </div>

                <!-- post button -->
                <button class="btn button" style="width:150px;" v-on:click="post()">POST</button>                
            </div>

            <div class="col-lg-2 col-xl-2"></div>
        </div>
    </div>




    <!-- bottom info -->
    <hr>
    <div class="bottomInfo">
        <div class="row">

            <!-- social media -->
            <div class="col social">
                <p>CONTACT US</p>
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x icon-background"></i>
                    <i class="fa fa-facebook-f fa-stack-1x"></i>
                </span>   
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x icon-background"></i>
                    <i class="fa fa-instagram fa-stack-1x"></i>
                </span>   
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x icon-background"></i>
                    <i class="fa fa-envelope fa-stack-1x"></i>
                </span>
            </div>

            <!-- Subscribe Newsletter -->
            <!-- make the form look less weird on com big screen? -->
            <div class="col">
                <p>SUBSCRIBE TO OUR NEWSLETTER</p>
                <form>
                    <input type="text" placeholder="Email Address"><br>
                    <a href="" class="btn button" style="margin-top:15px;">SUBMIT</a>
                </form>
            </div>
        </div>
        
        <!-- copyright -->
        <div class="row copyright">
            <h8>&copy; 2022 PET BAGUETTE</h8>
        </div>
    </div>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.2.min.js"></script>
    
    <script>
        let input = document.getElementById("inputTag");
        let imageName = document.getElementById("imageName")

        input.addEventListener("change", ()=>{
            let inputImage = document.querySelector("input[type=file]").files;
            // console.log(inputImage);
            let count = 0;
            let string1 = "";
            for(image of inputImage) {
                if(count=0){
                    string1=image.name
                }
                else{
                    string1+= image.name + '<br>'
                }
            }
            imageName.innerHTML = string1;
        })
    </script>

    <!-- Javascript functions -->
    <script src="eventForms.js"></script>

</body>
</html>
