.input-left{
    text-align:right;
}
.input-field input{
    background-color: rgb(241, 241, 241);
    padding: 10px;
    border-width: 0px;
    border-radius: 15px;
    width: 250px;
}

.input-field textarea{
    background-color: rgb(241, 241, 241);
    padding: 10px;
    border-width: 0px;
    border-radius: 15px;
    width: 250px;
}

.input-field select{
    background-color: rgb(241, 241, 241);
    padding: 10px;
    border-width: 0px;
    border-radius: 15px;
    width: 250px;

}

/* upload */
.upload{
    text-align:center;
    padding:20px;
    background-color: rgb(241, 241, 241);
    border-radius: 15px;
    width:250px;
    margin:auto;
}
#pic{
    display: none;
}
.upload label{
    cursor: pointer;
}
#imageName{
    color:black;
    margin-top:10px;
}

/* image chosen */
#uploadPic{
    width:50px;
}
